[class*="box_"]{
  box-sizing: border-box;
}
/**** 날짜 ****/
.box_date{
  width: 100%;
  height: 40px;
  padding: 0;
  border: 1px solid #d8d9db;
  border-top-color:#555;
}
.box_date div{
  height: 100%;
}
/**** 영화 ****/
.box_movie{
  display: flex;
  flex-direction: column;
  width: 270px;
  padding: 10px 20px 17px 20px;
  border-left: 1px solid #d8d9db;
  border-bottom: 1px solid #d8d9db;
}
.list_movie button{
  display: flex;
  align-items: center;
  min-height: 28px;
  padding: 0 0 0 5px;

}
/**** 극장 ****/
.box_theater{
  position: relative;
  width: 350px;
  padding: 10px 20px 17px 20px;
  border-left: 1px solid #d8d9db;
  border-bottom: 1px solid #d8d9db;
}
.list_area{
  width: calc(50% - 5px);
  padding-right: 5px;
  border-right: 1px solid #d8d9db;
  box-sizing: border-box;
  overflow-y: hidden;
}
.inner_theater{
  position: relative;
  height: 320px;
}
.inner_theater ul {
  height: 100%;
}
.inner_theater button{
  width: 100%;
  color: #444;
  font-size: 14px;
  line-height: 28px;
  text-align: left;
}
.list_theater{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}
.list_area li:nth-child(1) ul{
  display: block;
}
/* 시간 */
.box_time{
  width: 480px;
  padding: 10px 20px 17px 20px;
  border: 1px solid #d8d9db;
  border-top: none;
  overflow: hidden;
}
.box_time > div{
  margin: 0 -20px;
  border-top: 1px solid #f2f4f5;
  border-bottom: 1px solid #f2f4f5;
}
.list_movies{
  height: 320px;
  margin: 0 -20px;
}
.list_movies li + li{
  border-top: 1px solid #ebebeb;
}
.list_movies button{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0 0 30px;
  box-sizing: border-box;
  text-align: left;
}
.item_time{
  width: 60px;
}
.emph_time{
  font-size: 18px;
  font-weight: 700;
}
.txt_time{
  font-size: 13px;
  font-weight: 300;
}
.item_tit{
  margin-right: auto;
}
.txt_tit{
  display: block;
  font-size: 15px;
  padding: 0 5px 0 0;
  line-height: 1.3;
}
.txt_desc{
  font-size: 12px;
}
.item_info > span{
  display: block;
  padding-right: 5px;
  text-align: right;
  font-size: 12px;
}
.txt_theater{
  line-height: 1.5;
}
.box_seat{
  border: 1px solid #f2f4f5;
}
.num_left{
  font-weight: 700;
  color: #01738b;
  line-height: 20px;
}