.login {
  width: 100%;
  min-height: 100%;
  max-width: 710px;
  background-color: #f9f9f9;
  margin: 0 auto;
  padding: 50px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}