.custom-slider {
  margin-top: 10px;
}

.custom-slider .slick-dots {
  bottom: 200px; /* 점의 위치 조절 */
}

.custom-slider .slick-dots li button {
  width: 500px; /* 점의 너비 조절 */
  height: 500px; /* 점의 높이 조절 */
}

.custom-slider .slick-next {
  font-size: 400px; /* 버튼 아이콘 크기 조절 */
  width: 40px; /* 버튼 너비 조절 */
  height: 40px; /* 버튼 높이 조절 */
  line-height: 40px; /* 버튼 높이에 따른 세로 중앙 정렬 */
  top: 50%; /* 버튼 위치 상단 여백 조절 */
}

.custom-slider .slick-prev {
  left: 10px; /* 좌측 버튼 위치 조절 */
}

.custom-slider .slick-next {
  right: 10px; /* 우측 버튼 위치 조절 */
}

.img {
  height: 400px;
  width: 1000px;
}

.box_style {
  background-color: #f5eaf7;
  padding: 90px;
}
