.password_notice {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 20px;
}

.password_notice p {
  position: relative;
  font-size: 14px;
  color: #4a4a4a;
  letter-spacing: -1px;
  padding-left: 10px;
}

.password_notice p::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #444444;
}