button{
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.screen_out{
  position:absolute;width:0;height:0;line-height:0;text-indent:-9999em;overflow:hidden;
}
/**** 공통 레이아웃 ****/
.cont_book{
  font-size: 15px;
}
.tit_book{
  padding: 40px 0 25px; 
  font-size: 28px;
  color: #222;
}
.wrap_book{
  display: flex;
  flex-wrap: wrap;
}
.tit_box{
  margin-bottom: 10px;
  padding: 0;
  border: none;
  font-size: 18px;
  line-height: 38px;
}

/**** 공통 스크롤 ****/
.scroll{
  overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
  width: 5px;  
}
.scroll::-webkit-scrollbar-thumb {
  background: #555;; 
  border-radius: 2px;
}
.scroll::-webkit-scrollbar-track {
  background: #ebebeb;  
}

/**** 공통 이미지 ****/
/* 영상물 등급 */
.img_rating{
  flex-shrink: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 7px;
  background: url('../../assets/img_book.png') no-repeat;
  background-size: 100px;
  font-size: 0;
  vertical-align: top;
}
.img_rating1{
  background-position: -60px 0;
}
.img_rating2{
  background-position: -40px 0;
}
.img_rating3{
  background-position: -20px 0;
}
/* 예매 두번쨰 단계 */
[class*="box_result"] .img_rating{
  position: absolute;
  left: 0;
  top: 0;
}