.header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 0 15px 0;
  border-bottom: 1px solid #351f67;
  z-index: 10;
  flex-direction: column;
  --nav-color: #111;
}

.header.main {
  border-bottom: 1px solid #525252;
}

.header_background {
  background: rgba(0, 0, 0, 0.3);
  --nav-color: #fff;
}